header {
	position: relative;
	background-color: pink;
	height: 75vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
}

header video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

header .container {
	position: relative;
	z-index: 2;
}

header .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #FF00A2;
	opacity:.3;
	z-index: 1;
}



header .text-white{
	color:white;
}

@media (pointer: coarse) and (hover: none) {
	header {
	background: url('img/video.mp4') black no-repeat center center scroll;
	}
	header video {
	display: none;
	}
}

#main{
	width:100%;
	background: url(img/cake.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
#main .container{
	padding-top:50px;
	padding-bottom:50px;
	background: rgba(255, 0, 162, 0.3);
	
}