body{
	margin-top:130px;
	font-family: 'Alice', serif;
}

.logo{
	border-radius:100px;
	background:#fff;
	margin-right:10px;
}

.fixed-top{
	transition:1s;
}

#welcome-message{
	 opacity: 0;
	 transition:4s;
}

header {
	position: relative;
	background-color: pink;
	height: 85vh;
	min-height: 45rem;
	width: 100%;
	overflow: hidden;
}

header video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

header .container {
	position: relative;
	z-index: 2;
}

header .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to right, #FF00A2 , white);
	opacity:.4;
	z-index: 1;
}



header .text-white{
	color:white;
}

@media (pointer: coarse) and (hover: none) {
	header {
	background: url('img/video.mp4') black no-repeat center center scroll;
	}
	header video {
	display: none;
	}
}

#main{
	width:100%;
	background: url(img/cake.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
#main .container{
	padding-top:50px;
	padding-bottom:50px;
	background: rgba(255, 0, 162, 0.3);
	
}
#main button{
	background-color: rgba(0,0,0,0.5);
	font-size:300%;
	color:#FFF;

}
.form-styling{
	background-color: rgba(255,0,162,0.08);
	border:solid 2px #fff;
	color:#FFF;
	
}
.form-styling{
	font-weight:bold;
	border-radius:80px;
	
}



#main a{
	font-size:300%;
	color:#FFF;
	font-family: 'Sacramento', cursive;

}
#main a:hover{
	font-weight:bold;
	text-decoration:none;
}

.footer{
	padding-top:30px;
	padding-bottom:30px;
	background-color:#243533;
	color:#FFF;
}
.footer-sm p{
	font-size:280%;
	transition:1s;
}
.footer-sm a{
	color:#FFF;

}
.footer-sm a:hover{
	color:#FF00A2;
}

.pink-background{
	background-color:#FF00A2;
}
.pink-background a{
	color:#fff;
}
.pink-background a:hover{
	font-weight:bold;
}
.pink-background .dropdown-item{
	color:black;
}
.pink-color{
	color:#FF00A2;
}
.fancy-font{
	font-family: 'Sacramento', cursive;
}

#navbar{
}